body {
    background-color: #FFFFCC;
}

/* Navigationsleiste */
/* Aussehen von der Navigationsleiste */
.topnav {
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(250, 13, 13) 0%, rgb(80, 33, 255) 100%);
}



/* Das Aussehen von den Links in der Navigationsleiste */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Farbe von Hover-Effekt */
.topnav a:hover {
    background-color: #FFAA00;
    color: black;
}

/* Farbe vom aktiven Link */
.topnav a.active {
    background-color: #211600;
    color: white;
}

/* Logo in der Navigationsleiste */
.topnav-logo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    pointer-events: none;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @media-Einstellungen damit die Navigationsleiste responsiv ist, die Links werden aufeinander gestapelt */
@media screen and (max-width: 800px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* Header */
/* Header mit Hintergrunsbild */
.header-img {
    background-image: url("../images/header-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
}

/* Hauptinhalt von index.html mit flexbox */
.container-main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: auto;
}

.container-sub{
    display: flex;
    flex-direction: column;
}

.vs-img {
    width: 300px;
    margin: auto;
}